body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 20px;
    color: #5B5B5B;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;  
}

.leftword {
    float: left;
}

.rightword {
    float: right;
}

.leftword, .rightword {
    width: auto; 
    flex-grow: 1; 
}

.left-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}

.right-container {
    width: 30%;
    padding: 2.5vw; 
    overflow-y: scroll; 
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hummingbird {
    max-width: 100%;
    max-height: 100%;
}

.action {
    font-size: 12px;
    color: #5B5B5B;
}

.sidebar {
   line-height: 1.5;
}

.connectbox {
    margin-top: 2vh;
    justify-content: center; 
}

.connect {
    margin-left: 25%;
    font-size: 14px;
    color: #5B5B5B;
    justify-content: center; 
    display: flex;
    text-align: center;
    padding: 10px;
    width: 50%;
    border: 2px solid #D1D1D1;
}

.c {
    text-align: center;
    font-size: 14px;
}

.links {
    display: flex;
    flex-wrap: wrap;   
}

.links a {
    text-align: center;
    flex-basis: calc(100%);
    padding: 16px;
    text-decoration: none;
    color: #5B5B5B; 
    border: 1px solid #C2C2C2; 
}

.links a:hover {
    border: 1px solid black; 
}

@media screen and (max-width: 640px) {
    .container {
        flex-direction: column;
    }
    .left-container, .right-container {
        width: 90%;
    }
}

p {
    font-size: 12px;
    color: #999999;
}

.l {
    font-size: 16px;
    display: inline-block;
    float: left;
    white-space: nowrap;
}

.s {
    font-size: 11px;
    display: inline-block;
    margin: 0.5em;
    float: right;
    white-space: nowrap;
}
